<h2 class="body-header-two">Education</h2>
<br>
<div class="row no-gutters content-list">
	<div class="col-lg-1 col-md-2 col-sm-2">
		<a href="https://www.ucalgary.ca/">
			<img class="list-img" src="assets/u-of-c.png">
		</a>
	</div>
	<div class="col-lg-11 col-md-10 col-sm-10">
		<a class="content-title" href="https://www.ucalgary.ca/">
			<h4>University of Calgary</h4>
		</a>
		<h5>Bachelor of Engineering - BE, Software Engineering</h5>
		2011 - 2015
		<ul style="list-style-type:disc">
			<li>Completed a 16 month internship program at SUBNET Solutions Inc. Hired back after completing undergraduate
				degree.</li>
		</ul>
	</div>
</div>
<br>
<hr>
<br>
<div class="row no-gutters content-list">
	<div class="col-lg-1 col-md-2 col-sm-2">
		<a href="http://www.mtroyal.ca/">
			<img class="list-img" src="assets/mount-royal.png">
		</a>
	</div>
	<div class="col-lg-11 col-md-10 col-sm-10">
		<a class="content-title" href="http://www.mtroyal.ca/">
			<h4>Mount Royal University</h4>
		</a>
		<h5>Bachelor of Engineering - University Transfer</h5>
		2009 - 2011
	</div>
</div>
<br>