<ul class="nav flex-column">
	<div class="navbar-image-container">
		<img class="navbar-image" src="assets/my-picture.jpg">
	</div>
	<a class="navbar-brand">Sam Huo</a>
	<li class="nav-item">
		<a class="nav-link" routerLink="/workExperience">Work Experience</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" routerLink="/volunteerExperience">Volunteer Experience</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" routerLink="/education">Education</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" routerLink="/skills">Skills</a>
	</li>
</ul>