<div *ngIf="width > smallScreen" class="lg-screen">
	<ul class="nav flex-column">
		<div class="navbar-image-container">
			<img class="navbar-image" src="assets/my-picture.jpg">
		</div>
		<a class="navbar-brand">Sam Huo</a>
		<li class="nav-item">
			<a class="nav-link" routerLink="/workExperience">Work Experience</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/volunteerExperience">Volunteer Experience</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/education">Education</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/skills">Skills</a>
		</li>
	</ul>
</div>
<div *ngIf="smallScreen > width" class="sm-screen">
	<div class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand  sm-navbar-collapsed-container">
			<img src="assets/my-picture.jpg" width="25" height="25" class="img-src d-inline-block align-top">
			Sam Huo
		</a>
		<button class="navbar-toggler" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>