.header-container {
	width: inherit;
	height: inherit;

	.contact-info {
		font-size: 1em;
	}
	
	.body {
		padding-left: 14px;
		padding-right: 14px;
	}
	
	.body-header-two {
		text-decoration: underline
	}

	.header-divider {
		border-top-width: 4px;
	}

	.header-link {
		color: black;
	}
}
