.header-container {
	width: inherit;
	height: 100vh;

	.top-info-container {
		height: 13%;
		border-bottom: 2px solid black;
		padding-bottom: 16px;
		.header-link {
			color: black;
		}
	}

	.contact-info {
		font-size: 1em;
	}
	
	.body {
		height: 84%;
		padding-top: 16px;
		padding-left: 16px;
		padding-right: 16px;

		overflow-y: scroll;
		overflow-x: hidden; 
	}
	
	.body-header-two {
		text-decoration: underline
	}
}
