.header-container {
	width: inherit;
	height: 100vh;

	display: flex;
	flex-flow: column;

	.top-info-container {
		border-bottom: 1px solid black;
		padding-bottom: 16px;
		.header-link {
			color: black;
		}

		.download-link {
			font-size: 12px;
			cursor: pointer;
		}
	}

	.contact-info {
		font-size: 1em;
	}
	
	.body {
		padding-top: 16px;
		padding-left: 16px;
		padding-right: 16px;

		overflow-y: scroll;
		overflow-x: hidden; 
	}
	
	.body-header-two {
		text-decoration: underline
	}
}
