<h2 class="body-header-two">Work Experience</h2>
<br>
<div class="row no-gutters content-list">
	<div class="col-lg-1 col-md-2 col-sm-2">
		<a href="https://www.tuangru.com/">
			<img class="list-img" src="assets/tuangru.png">
		</a>
	</div>
	<div class="col-lg-11 col-md-10 col-sm-10">
		<h4>Full Stack Software Developer</h4>
		<a class="content-title" href="https://www.tuangru.com/">
			<h5>Tuangru</h5>
		</a>
		2017-Present
		<ul style="list-style-type:disc">
			<li>Develop Ramp 4.0 which is a Data Center Infrastructure Management system (DCIM).</li>
			<li>Ramp 4.0 is built using <b>Angular</b>, <b>.Net Core</b> and <b>PostgreSQL</b>; the system is deployed on a
				<b>Docker
					container.</b></li>
			<li>Increased front-end test coverage from 60% to 90% to meet our unit testing requirements.</li>
			<li>Participate in code review and pull request to ensure code quality.</li>
		</ul>
	</div>
</div>
<br>
<hr>
<br>
<div class="row no-gutters content-list">
	<div class="col-lg-1 col-md-2 col-sm-2">
		<a href="http://www.subnet.com/">
			<img class="list-img" src="assets/subnet.png">
		</a>
	</div>
	<div class="col-lg-11 col-md-10 col-sm-10">
		<h4>Software Developer</h4>
		<a class="content-title" href="http://www.subnet.com/">
			<h5>SUBNET Solutions Inc.</h5>
		</a>
		2015-2017
		<ul style="list-style-type:disc">
			<li>Develop new device drivers for PowerSYSTEM Center using <b>C++</b> and <b>C# </b> best practices. PowerSYSTEM
				Center is
				a web
				based
				solution, built on top of
				Microsoft SharePoint, used to manage customers’ substation devices.</li>
			<li>Develop new features in SubSTATION Server. SubSTATION Server is a Windows desktop application that runs in
				substations gathering information from end devices.</li>
			<li>Refactor existing code into a <b>RESTful interface</b> for <b>unit testing</b>. The interface now has unit test
				that is
				ran
				nightly with continuous build.</li>
			<li>Run nightly automated test on SUBNET Solutions’ device drivers to bring reliability from ~40% to ~90%.</li>
			<li>Investigated, designed and developed Siemens' device driver to control/manage Siemens' Siprotec devices.
				Siemens'
				device driver has been deployed at substations in Mexico, Australia, South Africa and Canada.</li>
			<li>Completed a project to control/manage ABB devices for an electrical company in South Africa. Also helped
				service
				technicians in South Africa with feature acceptance testing (FAT) and deployment.</li>
			<li>Completed a project to move data pulled from substation devices, using common protocols such as DNP3, Modbus
				and
				IEC 61850 to a database built in <b>Microsoft SQL Server</b>.</li>
		</ul>
	</div>
</div>
<br>
<hr>
<br>
<div class="row no-gutters content-list">
	<div class="col-lg-1 col-md-2 col-sm-2">
		<a href="http://www.subnet.com/">
			<img class="list-img" src="assets/subnet.png">
		</a>
	</div>
	<div class="col-lg-11 col-md-10 col-sm-10">
		<h4>Software Developer Intern</h4>
		<a class="content-title" href="http://www.subnet.com/">
			<h5>SUBNET Solutions Inc.</h5>
		</a>
		2013-2014
		<ul style="list-style-type:disc">
			<li>Work with other developers to maintain, enhance and test SubSTATION Server v2.x and SubSTATION Server v3.x.</li>
			<li>Develop new features in SubSTATION Server using <b>C++</b> best practices. SubSTATION Server is a Windows
				desktop
				application that runs in substations gathering information from end devices.</li>
			<li>Completed a project to control/manage customer’s PLC device that is currently being used at customer’s
				substation in California.</li>
			<li>Enhanced SubSTATION Server v3.x to use Windows Authorization Manager (AzMan) to manage user authorization.</li>
			<li>Resurrected an old project, using White library, to run nightly automated unit test against SubSTATION Server
				v3.x user interface and provide daily report in the morning.</li>
		</ul>
	</div>
</div>
<br>