<h2 class="body-header-two">Skills</h2>
<ul style="list-style-type:disc">
	<li>Windows Environment</li>
	<li>Docker container</li>
	<li>C++ (C++ 11 or newer)</li>
	<li>C# (.Net Core)</li>
	<li>Unit testing and test driven development (TDD)</li>
	<li>Microsoft Visual Studio and Android Studio</li>
	<li>Source control TFS and GIT</li>
	<li>Object-Oriented Programming (OOP)</li>
	<li>XML, HTML and JSON</li>
	<li>Microsoft SQL Server and PostgreSQL</li>
	<li>RESTFul API</li>
	<li>Agile Methodologies and Scrum</li>
</ul>
<br>